.RadiusPicker {
    appearance: none;       /* remove default arrow */
    border: solid 1px #ea1e79;
    border-radius: 3px;
    padding: 5px 30px 5px 10px;
    outline: none;
}

.RadiusPickerContainer {
    display: inline;
    position: relative;
}

.RadiusPickerContainer::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ea1e79;
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 400;
}